<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>An Error Occured!</h1>
    <p>Please try again later,  we are Working on it</p>

<%- include('includes/end.ejs') %>